<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.ej.wheelemetricsproto" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.esaj.wheelemetrics.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.android.bluetoothchat.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <service
            android:name="com.github.esaj.wheelemetrics.warning.WarningVibratorService"
            android:exported="false"/>

        <service android:name="com.github.esaj.wheelemetrics.bluetooth.BluetoothService"
                 android:exported="false"/>

        <service android:name="com.github.esaj.wheelemetrics.data.record.TelemetryFileServiceImpl"
                 android:exported="false"/>

        <receiver android:name="com.github.esaj.wheelemetrics.warning.SpeedDataReceiver"
                  android:exported="false"/>

        <receiver android:name="com.github.esaj.wheelemetrics.bluetooth.LoggableDataReceiver"
                  android:exported="false"/>

    </application>

</manifest>
